.auth-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.auth-box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:320px;
  position:relative;
  z-index:10000;
}

.auth-box input{
  width:100%;
  padding:10px;
  margin-top:10px;
  border:1px solid #ddd;
  border-radius:6px;
}

.login-btn{
  width:100%;
  padding:10px;
  margin-top:15px;
  background:#6c3a91;
  color:white;
  border:none;
  border-radius:6px;
}

.close{
  position:absolute;
  top:10px;
  right:12px;
  cursor:pointer;
}

.auth-box{
  animation: popup 0.25s ease;
}

@keyframes popup{
  from{
    transform:scale(0.9);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}